.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 48px;
  padding-block-start: 24px;
  padding-block-end: 48px;
}

.hero-title {
  max-inline-size: 400px;
}

.hero-icons {
  display: none;
}

.hero-icon {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  transition: var(--transition);
}

.hero-icon:hover {
  opacity: 0.85;
  transform: translateY(20px);
}

@media screen and (min-width: 768px) {
  .hero-content {
    gap: 72px;
  }

  .hero-information {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
  }

  .hero-title {
    max-inline-size: 600px;
  }

  .hero-icons {
    inline-size: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .hero-icons .social-icon i {
    color: var(--color-blue);
    font-size: 48px;
  }

  .hero-icons .social-icon i:hover {
    color: var(--color-yellow);
  }

  .hero-icon {
    font-size: 42px;
  }
}

@media screen and (min-width: 1024px) {
  .hero-information {
    gap: 32px;
  }

  .hero-icons .social-icon i {
    font-size: 56px;
  }

  .hero-icon {
    font-size: 56px;
  }
}
