main {
  background-color: var(--color-white);
  min-block-size: 90vh;
  padding-block-start: 32px;
  padding-block-end: 32px;
}

.main-content {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
