.wrapper {
  max-inline-size: 1100px;
  padding-inline-start: 16px;
  padding-inline-end: 16px;
  margin: auto;
}

.section {
  padding-block-start: 64px;
  padding-block-end: 32px;
}

.section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.section-title {
  inline-size: 100%;
}

.is-empty {
  text-decoration: line-through;
}

@media screen and (min-width: 768px) {
  .section {
    padding-block-start: 96px;
    padding-block-end: 64px;
  }

  .section-title {
    text-align: center;
  }
}
