.label {
  background-color: unset;
  color: var(--color-white);
  font: var(--label);
  border-radius: 16px;
  padding-block-start: 2px;
  padding-block-end: 2px;
  padding-inline-start: 8px;
  padding-inline-end: 8px;
}

.label.about-general {
  background-color: var(--color-dark);
}

.label.about-html {
  background-color: orange;
}
