.project-list {
  inline-size: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.project-list li {
  border: 1px solid var(--color-gray-5);
  background-color: var(--color-gray-2);
  inline-size: 100%;
}

.project-list li:hover {
  background-color: var(--color-gray-3);
}

.project-list li a h3 {
  padding-block-start: 8px;
  padding-block-end: 8px;
}
