.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.social-icon i {
  color: var(--color-white);
  font-size: 24px;
  vertical-align: middle;
}

.social-icon i:hover {
  color: var(--color-yellow);
}

@media screen and (min-width: 1024px) {
  .social-icon i {
    font-size: 32px;
  }
}
